
.form-control {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    width: auto;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    font-size: 0.8rem;

}

.form-custom-input input:not([type='submit']),
.form-custom-input input:not([type='submit']):active,
.form-custom-input input:not([type='submit']):focus {
    border: none;
    outline: transparent none;
    background-color: transparent;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #57427d;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    gap: 0.8em;
    justify-content: center;
    margin-bottom: 0.8em;
}

.form-fieldset-one-row {
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    gap: 0.8em;
    justify-content: center;
}

.form-one-row-left {
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    gap: 0.8em;
    text-align: justify;

}

.form-left-align {
    text-align: justify;
}

.submit-button {
    cursor: pointer;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #57427d;
    border-style: solid;
    border-color: #57427d;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 220ms all ease-in-out;
    font-weight: bold;
}

.submit-button:hover {
    border-style: solid;
    background-color: #57427d;
    color: #ffffff;
    font-weight: bold;

}

.submit-button:focus {
    border-style: solid;
    background-color: rgba(87, 66, 125, 0.8);
    color: white;

}

.submit-button:active {
    border-style: solid;
    background-color: rgba(87, 66, 125, 0.8);
    color: white;
}

.form-center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}

.reservations table {
    table-layout: fixed;
    width: 100%;
}

.reservations td, th {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
}

.reservations tr:first-child {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.reservations tr:not(:first-child) {
    cursor: pointer;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
    display: flex;
    color: black;
    border-style: solid;
    border-color: #fa7914;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    line-height: 1.1;
    transition: 220ms all ease-in-out;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 7px;
    gap: 0.8em;
    justify-content: space-between;
    width: 100%;
}

.reservations tr:not(:first-child):hover {
    background-color: #fa7914;
    color: white;
}
