{% extends "skeleton.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                            aria-hidden="true" onclick="closeMessage()"></button>
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    </div>
    <div class="res_header">
    Prihlásenie
    <hr style="width:50%; margin: auto; background:black;" />

    <div class="form-center-page">
        <form method=POST action="/login/">
            {% csrf_token %}
            <fieldset>
                <div class="form-row">
                    <label for="username">Prihlasovacie meno</label>
                </div>
                <div class="form-row">
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-row">
                    <label for="password">Heslo
                    </label>
                </div>
                <div class="form-row">
                    <input type="password" id="password" name="password">
                </div>
                {% if request.GET.next %}
                    <label for="nextUrlText" hidden>Ciel
                        <input type="text" name="next" id="nextUrlText" value="{{ request.GET.next }}"
                               hidden></label>
                {% endif %}
                <div class="form-row">
                    <input type="submit" value="Prihlásiť" class="submit-button">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
