<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="login_screen.html" class="login_text">Login</a>
    </header>
    <div class="forms">
        <form method=POST action="./login">
            {% csrf_token %}
            <br>
            <label for="teacher_id">Teacher ID:</label><br>
            <input type="text" id="teacher_id" name="t_id"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password_name">
            <br>
            <br>
            <input type="submit" value="Login">
            <br>
            <br>
        </form>
    </div>

    <footer>
        <a href="skeleton.html" class="home_pointer">Home</a>
    </footer>
</body>
</html>