{% extends "skeleton.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}
    {% endif %}
</div>

<div class="forms">
    <form method=POST action="./login">
        {% csrf_token %}
        <br>
        <label for="teacher_id">Teacher ID:</label><br>
        <input type="text" id="teacher_id" name="t_id"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password_name">
        <br>
        <br>
        <input type="submit" value="Login">
        <br>
        <br>
    </form>
</div>
{% endblock %}
