{% extends "skeleton.html" %}
{% load static %}

{% block content %}

    <div class="res_header">
        Rezervácia
        <hr style="width:50%; margin: auto; background:black;"/>
    </div>
    <div class="form-center-page">
        <form method="POST" id="reservation_form" class="form-custom-input"
                {% if action == "delete" %}
              action="/reservations/delete/"
                {% endif %}>
            {% csrf_token %}
            <fieldset>
                <div class="">
                    {% if action == "delete" %}
                        <div class="form-one-row-left">
                            <label for="date_id">Číslo rezervácie:
                                <input type="number" id="reservation_id" name="reservation_id"
                                       value="{{ result.id }}"
                                       required readonly>
                            </label>

                        </div>
                    {% endif %}
                    <div class="form-one-row-left">
                        <label for="date_id">Deň:
                            <input type="date" id="date_id" name="date"
                                   value="{{ result.date|date:"Y-m-d" }}" required readonly>
                        </label>
                    </div>
                    <div class="form-one-row-left">
                        <label for="classroom_id">Učebňa:
                            {{ result.classroom.name }}
                            <input type="number" name="classroom" id="classroom_name"
                                   value="{{ result.classroom.id }}" required readonly>

                        </label>
                    </div>

                    <div class="form-one-row-left">
                        <label for="lesson_id">Hodina:
                            <input type="number" id="lesson_id" name="lesson" min="0" max="8"
                                   value="{{ result.lesson }}" required readonly>
                        </label>
                    </div>
                    <div class="form-one-row-left">
                        <label for="lesson_id">Používateľ:
                            <input type="text" id="teacher_id" name="teacher" value="{{ result.teacher }}"
                                   required readonly>
                        </label>
                    </div>
            </fieldset>
            <div class="form-row">
                {% if action == "create" %}
                    <input type="submit" id="createSubmit" value="Rezervovať" class="submit-button">
                {% else %}
                    <input type="submit" id="deleteSubmit" value="Zmaž" class="submit-button">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}