{% extends "skeleton.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                            aria-hidden="true" onclick="closeMessage()"></button>
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    </div>

    <div class="res_header">
        Vaše rezervácie
        <hr style="width:50%; margin: auto; background:black;"/>
        <div class="form-center-page">

            <table class="reservations">
                <tr>
                    <th>Dátum</th>
                    <th>Učebňa</th>
                    <th>Hodina</th>
                </tr>

                {% for reserve in reservations %}
                    <tr onclick="window.location.href='/reservations/{{ reserve.id }}'">
                        <td>{{ reserve.date }}</td>
                        <td>{{ reserve.classroom.name }}</td>
                        <td>{{ reserve.lesson }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}