{% extends "skeleton.html" %}
{% load static %}

{% block content %}

<div class="forms_block">
    <br>
    <form action="" id="form">
        <label for="fname">Deň:</label>
        <input type="date" id="date_id" name="date" required>
        <label for="fname">Učebňa:</label>
        <input type="text" id="classroom_id" name="classroom">
        <label for="fname">Hodina</label>
        <input type="text" id="lesson_id" name="lesson">
        <label for="fname">Vybavenie:</label>
        <input type="text" id="fname" name="Daco">
        <input type="submit" value="Hladat">
    </form>
    <br>

</div>
{% endblock %}