{% extends "skeleton.html" %}
{% load static %}

{% block content %}

    <div class="forms_block">
        <br>
        <form action="" id="search_form">
            <label for="date_id">Deň:</label>
            <input type="date" id="date_id" name="date" value="{{ search_params.date|date:"Y-m-d" }}" required>
            <label for="classroom_id">Učebňa:</label>
            <input list="classroom" name="classroom" id="classroom_id" value="{{ search_params.room }}">
            <datalist id="classroom">
                {% for room in classrooms %}
                    <option value={{ room.id }}>{{ room.name }}</option>
                {% endfor %}
            </datalist>

            <label for="lesson_id">Hodina</label>
            <input type="number" id="lesson_id" name="lesson" min="0" max="8" value="{{ search_params.lesson }}">
            <br>
            <br>
            <fieldset id="equipment_id">
                <input type="checkbox" id="interactive_board" name="interactive_board" value="1"
                       {% if search_params.equipment_params.interactive_board %}checked {% endif %}>
                <label for="interactive_board"> Interactive board</label>
                <input type="checkbox" id="data_projector" name="data_projector" value="1"
                       {% if search_params.equipment_params.data_projector %}checked {% endif %}>
                <label for="data_projector"> Data projector</label>
                <input type="checkbox" id="ethernet_cable" name="ethernet_cable" value="1"
                       {% if search_params.equipment_params.ethernet_cable %}checked {% endif %}>
                <label for="ethernet_cable"> Ethernet cable</label>
                <input type="checkbox" id="sink" name="sink" value="1"
                       {% if search_params.equipment_params.sink %}checked {% endif %}>
                <label for="sink"> Sink</label>
                <input type="checkbox" id="flip_chart" name="flip_chart" value="1"
                       {% if search_params.equipment_params.flip_chart %}checked {% endif %}>
                <label for="flip_chart"> Flip chart</label>
                <input type="checkbox" id="teacher_notebook" name="teacher_notebook" value="1"
                       {% if search_params.equipment_params.teacher_notebook %}checked {% endif %}>
                <label for="teacher_notebook"> Teacher ntb</label>
                <input type="checkbox" id="teacher_pc" name="teacher_pc" value="1"
                       {% if search_params.equipment_params.teacher_pc %}checked {% endif %}>
                <label for="teacher_pc"> Teacher pc</label>
            </fieldset>
            <br>
            <input type="submit" id="formSubmit" value="Hľadať">
        </form>
        <br>
    </div>
    {% if with_results %}
        {% if result_type == "classroom_list" %}
            {% for key, value in result.items %}
                {% if value.occupancy %}
                    <div class="container_taken">
                        <table style="width:100%">
                            <tr>
                                <td>{{ value.info.name }}</td>
                                <td>{{ value.occupancy.0.students }}</td>
                                <td>{{ value.occupancy.0.teacher }}</td>
                                <td>{{ value.occupancy.0.subject }}</td>
                            </tr>
                        </table>
                        <p class="equipment">
                            {% for key, value in value.info.equipment.items %}
                                {% if value %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <br>
                {% else %}
                    <div class="container_free">
                        <table style="width:100%">
                            <tr>
                                <td>{{ value.info.name }}</td>
                            </tr>
                        </table>
                        <p class="equipment">
                            {% for key, value in value.info.equipment.items %}
                                {% if value %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <a href="/reservations/create/?date={{ search_params.date|date:"Y-m-d" }}&classroom={{ value.info.id }}&lesson={{ search_params.lesson }}">tu</a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        {% elif result_type == "lesson_list" %}
            {{ search_room.name }}
            {% for key, value in result.items %}
                {% if value.occupancy %}
                    <div class="container_taken">
                        <table style="width:100%">
                            <tr>
                                <td>{{ key }}.hodina</td>
                                <td>{{ value.occupancy.0.students }}</td>
                                <td>{{ value.occupancy.0.teacher }}</td>
                                <td>{{ value.occupancy.0.subject }}</td>
                            </tr>
                        </table>
                        <p class="equipment">
                            {% for key, value in search_room.equipment.items %}
                                {% if value %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <br>
                {% else %}
                    <div class="container_free">
                        <table style="width:100%">
                            <tr>
                                <td>{{ key }}.hodina</td>
                            </tr>
                        </table>
                        <p class="equipment">
                            {% for key, value in search_room.equipment.items %}
                                {% if value %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <a href="/reservations/create/?date={{ search_params.date|date:"Y-m-d" }}&classroom={{ search_params.room }}&lesson={{ key }}">tu</a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        {% elif result_type == "boolean_result" %}
            {{ search_room.name }}
            {% if is_free %}
                Volna
                 <a href="/reservations/create/?date={{ search_params.date|date:"Y-m-d" }}&classroom={{ search_params.room }}&lesson={{  search_params.lesson }}">tu</a>
            {% else %}
                Obsadena
                {% for res in result %}
                    <div class="container_taken">
                        <table style="width:100%">
                            <tr>
                                <td>{{ res.lesson }}.hodina</td>
                                <td>{{ res.students }}</td>
                                <td>{{ res.teacher }}</td>
                                <td>{{ res.subject }}</td>
                            </tr>
                        </table>
                        <p class="equipment">
                            {% for key, value in search_room.equipment.items %}
                                {% if value %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% else %}
        <!--
        tu nechat volne miesto, to ked pouzivatel ide hladat a nema este ziadne vysledky
        -->
    {% endif %}


    <script src="{% static 'js/form_handler.js' %}"></script>
{% endblock %}