{% extends "skeleton.html" %}
{% load static %}

{% block content %}

    <div class="forms_block">
        <br>
        <form action="" id="search_form">
            <label for="date_id">Deň:</label>
            <input type="date" id="date_id" name="date" required>
            <label for="classroom">Učebňa:</label>
            <!-- <select id="browsers">
                {% for room in classrooms %}
                    <option value={{ room.id }}>{{ room.name }}</option>
                {% endfor %}
            </select> -->
            <input list="classroom" name="classroom">
            <datalist id="classroom">
                {% for room in classrooms %}
                    <option value={{ room.id }}>{{ room.name }}</option>
                {% endfor %}
            </datalist>

            <label for="lesson_id">Hodina</label>
            <input type="number" id="lesson_id" name="lesson" min="0" max="8">
            <br>
            <br>
            <input type="checkbox" id="interactive_board" name="interactive_board" value="1">
            <label for="interactive_board"> Interactive board</label>
            <input type="checkbox" id="data_projector" name="data_projector" value="1">
            <label for="data_projector"> Data projector</label>
            <input type="checkbox" id="ethernet_cable" name="ethernet_cable" value="1">
            <label for="ethernet_cable"> Ethernet cable</label>
            <input type="checkbox" id="sink" name="sink" value="1">
            <label for="sink"> Sink</label>
            <input type="checkbox" id="flip_chart" name="flip_chart" value="1">
            <label for="flip_chart"> Flip chart</label>
            <input type="checkbox" id="teacher_notebook" name="teacher_notebook" value="1">
            <label for="teacher_notebook"> Teacher ntb</label>
            <input type="checkbox" id="teacher_pc" name="teacher_pc" value="1">
            <label for="teacher_pc"> Teacher pc</label>
            <br>
            <input type="submit" id="formSubmit" value="Hladat">
        </form>
        <br>
    </div>
    <div class="container_free">
        <table style="width:100%">
              <tr>
                <td>Ucebna</td>
                <td>Trieda</td>
              </tr>
        </table>
        <p class="equipment">Vybavenie: </p>
    </div>
    <br>
    <div class="container_taken">
        <table style="width:100%">
              <tr>
                <td>1</td>
                <td>Ucebna</td>
                <td>Trieda</td>
              </tr>
        </table>
        <p class="equipment">Vybavenie: </p>
    </div>
    <br>
    <div class="container_taken">
        <table style="width:100%">
              <tr>
                <td>Ucebna</td>
                <td>Trieda</td>
              </tr>
        </table>
        <p class="equipment">Vybavenie: </p>
    </div>


    <script src="{% static 'js/form_handler.js' %}">
    </script>
{% endblock %}