<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="login_screen.html" class="login_text">Login</a>
    </header>
    {% block content %}

    <img src="assets/iClass.png" class="center">
    <div class="search_link">
        <a href="search_form.html" class="search_pointer">SEARCH</a>
    </div>


    {% endblock %}
    <footer>
        <a href="skeleton.html" class="home_pointer">Home</a>
    </footer>
</body>
</html>